* {
    margin: 0;
    
  }
  #map_canvas {
    width: 80%;
    height: 100vh;
  }

section {
	display: flex;
}

#logo {
	background: linear-gradient(rgb(224, 108, 0), orange);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

aside {
	width: 20%;
}

#aside {
	margin: 5px;
	text-align: center;
}

#aside > button {
	margin: 2px 5px;
	width: 120px;
}

/*
  html, body {
	margin: 0;
	padding: 0;
    
    
}

body {
	font-family: Verdana, sans-serif;
}

section {
	width: 80%;
	height: 100%;
	float: left;
}



aside {
	width: 20%;
	height: 100%;
	float: right;
	background-color: #EEE;
}

#aside {
	margin: 5px;
}



#logo img {
	margin: 15px 0;
}

#aside button {
	padding: 5px 5px 5px 5px;
	width: 50%;
	margin: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

#aside button:not(.pullRight) {
	float: left;
}

#aside > button {
	text-align: left;
}

#aside button:hover, .btn:hover {
	background-color: #DDD;
	border-radius: 5px;
}

#aside label {
	display: block;
	width: 100%;
	margin-bottom: 2px;
}

#aside input, select {
	display: block;
	width: 100%;
}

#aside input[type=checkbox], checkbox {
	width: auto;
}

#aside p {
	margin: 8px 0;
}

#aside input[type=checkbox] {
	float: right;
}

#aside fieldset, .hideThis {
	margin: 10px 0 7px 0;
	display: none;
}

hr {
	margin: 5px 0;
}

#aside {
	font-size: 0.9em;
}

.pullRight {
	float: right;
}

#new-services {
	border: 1px solid #DDD;
	border-radius: 2px;
	margin: 2px;
	padding: 5px;
}

.btn {
	padding: 5px;
	cursor: pointer;
}

.textRight {
	text-align: right;
}
*/